[2017-08-08 16:04] Michael-F-Bryan opened #1 "Send signals to underlying process?"
I notice you can send a control character like `<ctrl-c>` for keyboard interrupt, or `<ctrl-d>` for EOF. Is there any way to send a signal like `SIGTERM` or `SIGHUP` (perhaps using a [`nix::sys::signal::Signal`]) to the underlying process?

An alternative might be adding a method to the `PtySession` which gives you a mutable reference to the underlying `PtyProcess` so you can call `signal()` and f

[2017-08-16 16:29] philippkeller commented on #1
Hi Michael. Sorry for the delay, just got back from my holidays (without internet ;-)), I'll look into this in the next days.

[2017-08-19 06:40] philippkeller commented on #1
Ah, the members of PtySession need to be public. Totally forgot about that. I now changed that and pushed to crates.io, so you can do now e.g. this:

[code]

[2017-09-14 10:14] bbqsrc opened #2 "Mechanism to access buffer after an expectation"
A common pattern I've done in pexpect is something like the following:

[code]

The `proc.before` part allows me to access the result of the input. Is there currently an equivalent in rexpect?

[2017-09-15 05:10] philippkeller commented on #1
Closing this as I believe @Michael-F-Bryan your issue is fixed, right?

[2017-09-15 05:10] #1 closed

[2017-09-15 05:17] philippkeller commented on #2
For some reason I did not yet need to read back the output because I used rexpect more in a "integration test" manner than for automation.

That said, I just updated the code that `exp_*` are now returning the yet unread bytes including the matched string, so this is now possible:

[code]

And in a more complete example (from your code it seems like you want to interact with bash, so probably you

[2017-09-15 16:04] Michael-F-Bryan commented on #1
Yep. Sorry, I probably should have closed this as solved once I saw your reply about pushing a fix to crates.io.

[2017-09-15 16:06] philippkeller commented on #1
no worries. I'm glad there are even people using this crate :-)

[2017-09-16 13:04] philippkeller commented on #2
after a few thoughts more: I would prefer actually to have `exp_*` return a tuple of:
1. the string *before* the match
2. the match itself (which is especially interesting in case of regex matches or `exp_any`).

@bbqsrc: any thoughts on this? Personally I didn't use pexpect too much so I don't have much real world examples in my experience. So if you can help here with some design decisions I wou

[2017-09-16 14:09] bbqsrc commented on #2
Both are fine, imho. My use case was using a morphological dictionary lookup tool. `pexpect` ended up being ridiculously slow, but when coming here to replicate it in Rust to see if the issue was just Python's GIL, I found there was no mechanism to get the response from the app being "expected".

Given your approach, the tuple approach is ideal, because if I am looking for a "> " prompt, I don't w

[2017-09-18 04:49] philippkeller commented on #2
I have updated the behaviour so rexpect internally both strings (before match, and match itself) are known.  `exp_string` now only returns string before match, and `exp_regex` for instance returns both before and match itself.

Your use case is probably best covered with this (which now only prints "lorem ipsum"):

[code]

I need to fix a bug still (`spawn_bash` seems to not delete the tmpfile upo

[2017-09-27 14:48] philippkeller commented on #2
I'm closing this as I just pushed the updated behaviour to crates.io
If this doesn't suit your need please reopen, @bbqsrc

[2017-09-27 14:48] #2 closed

[2018-02-25 16:24] tjyang opened #3 "rexpect 0.3 ready ?"
Hi @philippkeller
In [README.md](https://github.com/philippkeller/rexpect/blob/master/README.md), the example is referring to rexpect 0.3.0 while the version on crates.io is only upto 0.2.0.

I tried to test out the examples in README.md using 0.2.0  but failed with following message.

[code]

[2018-02-25 20:25] philippkeller commented on #3
thanks for waking up this project again :+1:
I added the second parameter on git master, but then forgot to publish it to crates.io. I now just pushed version 0.3 out. I tested it with a sample project and it worked for me. Can you try again with version 0.3?

[2018-02-26 01:03] tjyang commented on #3
Hi @philippkeller
No, I should thank you created rexpect at first place.
I was able to cargo build and run the examples.

But I was not able to pass all the test cases.
[code]

[2018-02-26 03:08] tjyang opened #5 "Need help on converting a bash script into rexpect"
Hi @philippkeller

* And this is the command and logs from realm join command

[code]

* This is one-liner  bash script I used to join a centos 7 to MS AD domain.

[code]

* And this is using rexpect 0.3

[code]

* The error
Is there a way to skip first 5 lines from realm command output ?

[code]
*  I inserted "p.wait_for_prompt()?;" before " p.exp_regex" but I got compilation error saying no wait

[2018-02-26 19:50] philippkeller commented on #3
I fixed the issue for Fedora. But the fix is now only on git and not yet on crates.io.

In order to get the fix for the time being, you can remove the `rexpect = "0.3"` dependency in Cargo.toml and instead put this:

`rexpect = { git = "https://github.com/philippkeller/rexpect" }`

[2018-02-26 19:50] #3 closed

[2018-02-27 05:16] philippkeller commented on #5
the problem is that `p.exp_regex("^Password for .*: ")?;` will try to match `Password` at the beginning of the not-yet-consumed output, not the line: That means you try to match `^Password` on the string starting with ` * Resolving: _ldap._tcp.test.com`.

You can remove the `^` or replace it with `\n`

[2018-02-27 07:14] tjyang commented on #5
@philippkeller , Thanks for the explanation about not-yet-consumed output string starting with "* Resolving ..." and ended with  "Password for .*: ".

[2018-02-27 07:14] #5 closed

[2018-02-27 07:24] philippkeller commented on #5
marvellous! So it worked then?

[2018-02-27 07:27] philippkeller commented on #5
@tjyang also thanks to your issue I now added a note about matching beginning of line to [the documentation](https://philippkeller.github.io/rexpect/rexpect/session/struct.PtySession.html#method.exp_regex)

[2018-02-27 07:52] tjyang commented on #5
Thanks for the link to [method.exp_regex documentation](
https://philippkeller.github.io/rexpect/rexpect/session/struct.PtySession.html#method.exp_regex
).

Currently the command just ended without error message after I replace "^"
with "\n" as you suggested.

Is there a method to print out the output "realm join .." for
debugging/informational purpose ?

I like to print output before " p.exp_rege

[2018-02-27 07:55] philippkeller commented on #5
yes, `exp_regex` outputs a tuple:
1. the yet unread output
2. the matched regex
So the realm join message should be in the first part. You might need regex to extract the piece you're interested in

[2018-02-27 08:18] tjyang commented on #5
* If I run the "realm join ..." command from bash problem with correct password.
I got following line with $?=1, this due I am running as non-root user and sssd not setup.

[code]
* Looks like I need a error handling logic on $?=1, before exp_eof line and print out error message (.*Couldn't join realm: ...)
How can I do that ?
[code]

[2018-02-28 06:20] philippkeller commented on #5
you can check for the exit code like this:

[code]

I also added a full example with how to handle exit codes [here](https://github.com/philippkeller/rexpect/blob/master/examples/exit_code.rs).

Thanks for these questions! Keep 'em coming as it helps me to extend the documentation

[2018-02-28 16:57] philippkeller commented on #5
`p.exp_eof()?` returns all the not yet consumed output (that is stdout and stderr combined, because in tty you combine those two outputs, as in the shell you see them both together). In your example this would include the error message of `realm`.

I extended [this example (see line 23 and following)](https://github.com/philippkeller/rexpect/blob/master/examples/exit_code.rs#L23) to show how that

[2018-02-28 22:47] tjyang commented on #5
@philippkeller

Thanks for great help so far.
I will switch from golang-gexpect to rust-rexpect for  AD join/leave operations from linux.

Following is the expect output from cargo run.

[code]

[2018-03-01 04:26] philippkeller commented on #5
glad to hear that :)
Judging from the output it seems that your program is working, the issue is only with the user permissions, correct?

[2018-03-01 06:35] tjyang commented on #5
I will post a follow up once I have my rust A.D. binary working to the way I need.
like adding command line argument processing to use default ad admin account if no one provided.
Sigh, too many compute languages to learn in sysadmin life.

[2018-03-16 00:13] memoryruins opened #6 "Rare inconsistent result."
While testing gluon with rexpect, there has been one inconsistent test, [specicially the ``hello_world`` test](https://github.com/gluon-lang/gluon/blob/master/repl/tests/tests.rs#L108). It may be a problem of how I used the api or a rare bug with the repl. Rexpect has worked consistently with every other test that's been thrown at it.

There are a few different variations tried in here, including

[2018-03-16 09:26] philippkeller commented on #6
Hey @memoryruins!

I had a look at your issue thread and going the direction of send the line and then wait for an output string is certainly the right direction. You spotted the `execute` method which is in `spawn_bash` part of the session. IMO this could be moved over to `spawn` so you could use it.

But anyway, you added `exp_` after the `send_line` which is what `execute` does anyway. So in th

[2018-03-16 13:09] Marwes commented on #6
@philippkeller You need to do `cargo build -p gluon_repl` for the `gluon` executable.

Seems to happens more commonly on 32-bit (as found when running tests on travis/linux)

[2018-03-16 18:48] memoryruins commented on #6
For travis ci, it pops up on 32-bit most commonly, and I'm testing the variations of the below loop locally on a x86_64 linux laptop and desktop. Left the statics in to match the cargo tests.

``Cargo.toml``
[code]
``main.rs``
[code]

[2018-03-16 21:31] memoryruins commented on #6
Ran 20k loops of ``hello_world`` of gluon and the loop on both release and debug without an issue on x86_64 today. Checked the recent jobs, and with a twist, the issue was not with ``hello_world`` and it was on x86_64. It failed on the [expression_types](https://github.com/gluon-lang/gluon/blob/master/repl/tests/rexpect.rs#L60) test, with a similar [timeout error ](https://travis-ci.org/gluon-lang

[2018-03-16 21:33] philippkeller commented on #6
thanks for your code. I'm currently testing on my local linux machine (64bit) and also on a EC2 32bit machine..

[2018-03-16 21:49] philippkeller commented on #6
I think the problem lies somewhere in the first regex `repl.exp_regex("\\{[^}]+\\}")?;` matches up and until the first closing `}`. When I issue `let io = import! std.io` in the gluon shell, then I get about ten times `}`. I guess the sending of `"UNIQUE"` is just too early.

I couldn't find a good exp_string though, because gluon seems to send quite a bit of escape characters. When doing this jus

[2018-03-16 22:02] memoryruins commented on #6
and thank you for helping us test this. There are a few layers where something could go wrong.
I should've used the load_script string at the end gluon's import instead of the regex, as I see the above is what they were hinting.

I also believe the expression_types test failing above it completely my bad, as "5 + 5" most should returning "Int" instead of "Int -> Int". It's strange that the express

[2018-03-16 22:31] philippkeller commented on #6
Ok, I think I have something which works:

[code]

Explanation: In your regex you match the first closing `}`. First not all output was consumed from gluon and second I experienced that the prompt is sometimes coming a bit later than the last `}`. So I inspected the exact byte sequence which is sent and adapted the prompt variable to this.

I also [enhanced the output of the timeout error](https:/

[2018-03-16 22:41] memoryruins commented on #6
Wow, the additional prompt exp_string lines make sense. Expected needing after when the repl launched, but it makes sense to follow the other lines as well and it's thorough. I'll add to the other tests as well. You've been a huge help!

[2018-03-16 22:43] philippkeller commented on #6
yeah, I just added the "reading back prompt" 1 minute ago because I ran in another corner case..

these things are really not obvious at start, but when you start thinking about it it makes sense. I needed some time to get into the right thinking habit myself now. If you have any idea how to improve the error messages or the "flow" then I'm very open for suggestions

[2018-03-17 00:39] Marwes commented on #6
So the solution is to wait for the `PROMPT` before continuing with the next command? That makes sense, thanks! I guess there isn't a way for `rexpect` to provide a "wait on prompt" method since the prompt is 100% implementation specific?

[2018-03-17 01:45] memoryruins commented on #6
I'll wrap rexpect with an interface thats a bit more repl specific so we can toss the repeated statements in there (and ensure we don't forget them).

[2018-03-17 13:24] philippkeller commented on #6
the new code looks good! I took some ideas into account and now added a `PtyReplSession` into rexpect which is now used e.g. by `spawn_bash`. If you want you could use it from your code as well. `send_line` now also waits for the echo if `echo_on` is set to True.

The code above would now look like this:

[code]

Note that the quit_command is sent at drop time of `PtyReplSession`, just before rexp

[2018-03-17 13:43] philippkeller commented on #6
setting this to closed right now. Still happy for comments though!

[2018-03-17 13:43] #6 closed

[2018-03-17 20:52] memoryruins opened #8 "License"
Currently, a LICENSE file is not in the repository. It would be great to add one to match the MIT license in rexpect's Cargo.toml, as well as reference at the bottom of the readme.

[2018-03-17 21:31] philippkeller commented on #8
was not aware that it lacked the MIT license. Thanks for pointing out!

[2018-03-17 21:31] #8 closed

[2019-12-10 14:55] hujianxin opened #10 "can rexpect resize window when got SIGWINCH signal?"

[2019-12-11 08:55] philippkeller commented on #10
what do you want to accomplish?

Rexpect is no tty client in the sort that you can draw windows etc. So it cannot resize window. But you should be able to listen to signals and expect the SIGWINCH signal, but I did not check this out yet

[2019-12-11 14:38] hujianxin commented on #10
Thanks for your replying. After looking around the doc, I found that rexpect has no the feature `child.interact()` which exists in pexpect. I'll give pexpect a try, thanks anyway.

[2019-12-11 15:40] philippkeller commented on #10
that's actually a good one, I'm reopening the ticket, maybe there are more people interested so I can motivate myself to implement it or maybe there's a contributor adding this feature

[2020-02-11 20:23] TyPR124 opened #11 "Windows Support"
I am interested in adding Windows support for this crate. Would you be willing to accept a PR if I can get this working?

Specifically, I want to look into adding Windows support via [PseudoTerminal](https://devblogs.microsoft.com/commandline/windows-command-line-introducing-the-windows-pseudo-console-conpty/). Doing so will likely require some additions to this crate, including depending on [wina

[2020-02-12 16:54] philippkeller commented on #11
That sounds good!
I'm not actively developing this project any more, but would be willing to help PRs to be merged in. I also didn't code rust the past 2 years so I'm a bit out of date and can't help you with stuff.

That said: If the PR doesn't break things on Linux/OSX and if it doesn't add too many if/else logic (I guess in the pty part this is needed but the rest should be platform agnostic) t

[2020-02-12 18:09] TyPR124 commented on #11
Thanks. I'm starting to go through the code now. I am noticing some parts of the public API is unix specific (for example one of the error types contains a unix-specific type WaitStatus), so some small changes will be necessary but I still want to change the public API as little as possible.

I do intend on making all platform-specific dependencies only included on the platform where it is needed.

[2020-02-12 18:14] philippkeller commented on #11
Perfect, thanks a lot!

I can cover OSX testing, yes. (testing OSX without a mac is soo painful, I was in this situation some years ago and I guess things didn't change for the better in the meantime)

[2020-03-05 16:23] TyPR124 commented on #11
Hey, I'm still working on this, slowly making progress when I have time. I've gotten far enough that this code works in Windows.

[code]
I've still got a lot of cleanup to do, a few things yet to implement, and then a bunch of testing.

One thing I've deemed necessary is to add a `Command` type to the crate. For Unix, this type is a simple wrapper around std `Command`, however on Windows it was ne

[2020-03-07 12:00] philippkeller commented on #11
Nice progress!
Re: Flattening API: sure, I think you know better than me how to expose things, so I'll trust you there, plus it doesn't break the current API
Re: adding `Command`: would this be exposed also in APIs (i.e. would it break existing exposed functions?) or is it just used internally?

[2020-03-09 17:24] TyPR124 commented on #11
Yes, it would be exposed and therefore is a breaking change.

I could make this not a breaking change for Unix, however then it would be possible to write code that compiles on Unix but not Windows (or vice versa) since one platform would use std Command and the other rexpect Command. Ideally, I think it should be impossible to write code that doesn't compile on both platforms unless you are knowi

[2020-03-11 08:34] philippkeller commented on #11
quickly skimmed through the source code. I see that `PtyProcess::new()` has `Command` as argument. This is the only exposed function that needs changing, right?

[2020-03-11 15:59] TyPR124 commented on #11
`PtyProcess::new` and `session::spawn_command` are the only two public functions that take a `Command` argument. I expect the fix for anyone using these is to replace `use std::process::Command` with `use rexpect::Command`.

[2020-03-22 12:24] pbartyik opened #14 "get the index of element that was matched by exp_any"
find fn returns a tuple with the unread buffer and the matched string by needle. The question is if it could also return the position of the expression used in ReadUntil::Any(vec)? Right now I'm looping through the passed expressions and checking which one matches the returned matched string.

Think "did I match username or password prompt, what to send back to the process".

[2020-03-22 15:55] philippkeller commented on #14
I think this is a good idea.
But it would need to split up `find` for the ReadUntil variants without `ReadUntil::Any` (as this extra return doesn't make sense in this context) and a `find` for the `ReadUntil::Any` explicitly.

Do you have anything in mind? I didn't use rust lately so I don't know if there's any construct which could help here or if the best way forward would be just to create a se

[2020-03-22 16:05] philippkeller commented on #11
@TyPR124 sorry for the slow reply. I finally found time to see how many github projects are using these two methods. `PtyProcess::new` isn't used, but `session::spawn_command` is used by about 4 projects. And the change for these would be minimal, just replace `std::process::Command` by `rexpect::Command`.

So I think it's fine, we just need to bump the version after this PR got in. And maybe keep

[2020-03-22 16:06] pbartyik commented on #14
honestly I'm still in the beginning of the learning curve of rust, so I may not be the best input for this.
Not sure if a hacky solution would be to return an Option<uint> as the third element in the tuple, but that would save the need for a separate function.
The separate fn seems more reasonable as that won't mess up the return values and keeps the feature explicit.

@TyPR124 what do you think?

[2020-03-22 18:33] TyPR124 commented on #14
To be honest I haven't been looking closely at this part of the code, as I've been focusing mostly on the platform-specific parts and this code is mostly platform-agnostic. That said, I will give it some thought, as it sounds like a good idea.

To make sure I'm on the same page here, you're wanting to do something like `session.exp_any(my_vec)` and have it return an index into `my_vec`, correct?

[2020-03-22 18:40] TyPR124 commented on #11
Thanks for that. As a status update, I'm currently waiting on a [Rust PR](https://github.com/rust-lang/rust/pull/69937) in order to finish implementing `Command` on Windows. I don't know how long that will take, though once it is merged I still have finishing up to do in rexpect.

[2020-03-22 18:59] pbartyik commented on #14
Yep, along as with the unread buffer till the match. The matched string have no benefit to me personally, but since it is currently returned I imagine it would be needed too.

[2020-03-23 21:06] philippkeller commented on #11
wow, a Rust PR, impressive. But that means that to have Rexpect to compile on windows one needs rust nightly, right?

[2020-03-23 22:07] TyPR124 commented on #11
It is a relatively simple PR, but still no telling how long it might take.

Initially, yes, it would require Windows builds to use nightly. That said, we could wait until the PR becomes stable to release an updated version of rexpect (I've been debating in my head whether it is worth releasing a version that requires nightly or just waiting until stable, I think I prefer waiting for stable but cou

[2020-04-14 17:26] allquixotic commented on #10
I'll have to fall back to pexpect too because I am also looking for an `interact()` method equivalent...

[2020-05-21 15:26] zhiburt opened #19 "rexpect::spawn with empty program parameter"
[code]

Currently such spawn will produce a correct `PtySession` but any work with it it's obviously not a good idea.
I wonder if the spawn function have to check the input if it's empty and return the error in such case.
If it's I may provide a PR :)

I am not sure what is a relatively good step here. So create an issue rather than PR :)

[2020-05-23 12:38] #19 closed

[2020-05-24 09:24] philippkeller commented on #11
@TyPR124 are you still working on this? I'm giving this projects some love at the moment and just added a breaking change in #22 so I need to bump version anyway, if you're close to completeness then I would wait some more weeks until releasing the new version to have your change in as well

[2020-05-25 05:38] philippkeller opened #23 "examples "ftp" and "bash_read" are broken"
just a mental note to fix those. Also: might be good to mention the tcp example in the README, or maybe not…

[2020-05-26 16:05] TyPR124 commented on #11
I am still working on this, albeit it has fallen down my list of priorities (largely due to waiting for future Rust releases).

If you are okay with Windows support requiring the nightly compiler for now, then I can probably move this up and get something ready to merge by around June 14 (just picking a somewhat arbitrary date for the sake of giving myself a deadline).

[2020-05-26 16:22] philippkeller commented on #11
would nightly be required also for Linux/OSX? Isn't there a way to state nightly is only required for Windows?

[2020-05-26 16:31] TyPR124 commented on #11
Nightly would not be required for any other platform. And since this is just a library, we can just put it in documentation somewhere that Windows requires nightly and the user (as in, the author of any executable that depends on this crate) will need to choose the right compiler for the right platform.

[2020-05-31 10:22] philippkeller commented on #11
very well. I was under the impression that you need to state the required rust version in `Cargo.toml`, but you're right it can be just stated in a comment.

June 14 sounds good!
@zhiburt is working on an api change in #24 which allows `exp` to return different return types dependent on the needle. His changes are mostly in reader which I think you don't touch much. That said, I'll probably open a

[2020-06-02 09:16] AndreaOrru opened #25 "Strip ANSI escape codes"
Is it possible to leverage https://docs.rs/strip-ansi-escapes/0.1.0/strip_ansi_escapes somehow to strip ANSI escape codes from the output?

[2020-06-02 09:22] philippkeller commented on #25
ah, you mean for removing color codes or cursor movements? What's your use case for this? (just wondering, because rexpect can be used for such different use cases)

[2020-06-02 09:27] AndreaOrru commented on #25
Yes exactly. I'm building an interactive command prompt and many command outputs are colored, which makes matching text through `rexpect` difficult.

[2020-06-06 11:18] philippkeller commented on #25
Sounds like a good use case! Do you have a specific example which could be used to implement and write tests?

[2020-06-14 01:04] TyPR124 commented on #25
Adding to this so it is mentioned somewhere, this also causes issues with Windows ping.exe, which blinks the cursor using escape codes over the R in "Reply from <ip address>". I think being able to toggle escape code stripping would be ideal, as I imagine there could be use for capturing them.

[2020-06-14 01:43] TyPR124 commented on #11
I didn't have as much time as I'd hoped the last couple weeks, but I did get something very close to ready, at least ready enough for feedback and testing. See #26

[2020-09-28 19:11] danobi opened #28 "Copying child process output"
pexpect has `child.logfile*` APIs to log child process output to a file-like destination.
I looked around the docs but I didn't seem to find anything similar for `rexpect`.

Is there any chance this could be supported?

[2020-10-24 19:35] chama-chomo opened #30 "rexpect interact(), giving control back to the user"
Is there any way to return control of the terminal back to the user ? e.g. after connecting to a remote server. Thanks.
In python `pexpect` I use `interact()` method to achieve this.

[2020-11-01 11:46] chama-chomo commented on #30
as a beginner I was able to kind of a POC to ssh repl, my only problem is it doesn't feel very much like a standard ssh session with command/path expansion and so. I guess there is a better way. Nevertheless I'm going to provide my piece of code for someone like me as an inspiration (this is my specific case ofc, not too much generic)..

[code]

[2020-11-16 05:13] zyc801208 opened #32 "try_read panic"
Try to read a  utf-8 character, program panic.
How to fix this problem?

panicked at 'byte index 1 is not a char boundary; it is inside 'é' (bytes 0..2) of `éª�æ�¶    ...

stack backtrace:
   0: backtrace::backtrace::libunwind::trace
             at /cargo/registry/src/github.com-1ecc6299db9ec823/backtrace-0.3.44/src/backtrace/libunwind.rs:86
   1: backtrace::backtrace::trace_unsynchronized

[2020-11-17 04:21] zyc801208 commented on #32
**panic at line drain, when character is not a single byte char**
[code]

[2020-11-17 10:30] zyc801208 commented on #32
I add this fn to read all bytes in buffer.
[code]

[2021-01-17 21:26] cheako opened #33 "Binary support?"
Some binary data cannot be represented in an `&str`, so functions that take `&[u8]` are necessary.  Unless I misunderstand or am using the wrong tool.

Use case is programing Marvell ARMADA 3700 over serial port.

[2021-01-17 22:59] cheako commented on #33
Looking at this I can't believe this does not panic when reading half of an unicode char?

[2021-01-20 02:20] cheako commented on #33
https://github.com/cheako/rexpect/tree/binary

[2021-01-20 10:31] philippkeller commented on #33
thanks for reporting this. It looks like you are trying to come up with a pull request. Is this correct?
I have very limited time for this project. If you issue a PR and it passes the tests and examples I will merge it

[2021-01-20 19:30] cheako commented on #33
Much more testing is needed, but thanks for doing what you can to maintain this.

[2021-01-20 19:40] cheako opened #34 "exp_string should take String."
I don't know how ppl feel about API changes, I'd guess there are so few users it doesn't matter as long as the minor version id bumped appropriately.

APIs should take owned values when they need an owned clone of something, instead of calling `to_owned()` or in this case `to_string()`.

See: https://www.philipdaniels.com/blog/2019/rust-api-design/

[2021-01-20 19:43] cheako opened #35 "AsyncReader/AsyncWriter?"
Is an async version of rexpect a new crate or should there just be an async module?

[2021-01-21 03:08] cheako commented on #35
https://github.com/cheako/rexpect/tree/async

[2021-01-21 19:49] philippkeller commented on #35
it's probably easier as new crate as I'm not into async and would not know how to maintain it

[2021-01-28 18:47] 0xpr03 opened #36 "Migrate away from Error-Chain"
Error-Chain seems to be unmaintained or rather not developed any further. Furthermore most people start adopting failure,anyhow and eyre for new errors in applications, which require Sync on errors to allow easier multithreading. Currently error-chain can't and won't have sync errors, requiring some special handling for errors of this library. Thus I recommend migrating to thiserror.

See also htt

[2021-02-05 10:40] philippkeller commented on #36
@0xpr03 this sounds good. Error-Chain seemed the best choice when I wrote this, but now there are better options.

As I'm currently "out of Rust", I won't implement this. So if you want you can migrate it over. If it passes tests and the example will still work, I'll merge it.

I guess it will also change the api, so I'll just bump the version to reflect this

[2021-04-02 09:13] 0xpr03 commented on #36
Isn't #29 exactly what we want then ?

[2021-04-02 11:38] philippkeller commented on #36
ah yes, didn't realize this is the same error crate where we have the existing PR for. As I'm not into rust anymore, @0xpr03 would you like to have a look if the PR #29 is good? Unfortunately the contributer was not sure either as the person was new to Rust…

[2021-04-02 15:14] 0xpr03 commented on #36
Regarding maintainership you may want to add [Rust Bus](https://users.rust-lang.org/t/bus-factor-1-for-crates/17046)
I'd also be willing to help out, but I'm probably not the most proficient with this project, just using it at work.

[2021-04-02 15:48] philippkeller commented on #36
@0xpr03 thanks for pointing me to rust bus. I've invited rust bus as maintainer now, let's see what happens!

[2021-06-25 14:23] zhiburt opened #37 "Question: How pty behaives with empty command."
I was tinkering pty/tty stuff and still not clearly understand how it works :). And you're @philippkeller the most right person who I could address this question. Example below.

Currently this test will pass.
But why?

Why we got this echoed strings?

I've tested the `flags.local_flags &= !termios::LocalFlags::ECHO` works fine.

Thanks in advance.

[code]

[2021-08-19 18:04] Jonathas-Conceicao opened #38 "PtySession::expect_eof never finishes with current nightly build"
I've traced down the source of a faulty execution in a application that I contribute to the `PtySession::expect_eof` never finishing execution on Rut's currently nightly build.

I have a little example that can reproduce the problem:
[code]

When I run this on nightly the timeout is reached, and if no timeout is set the execution just hangs indefinitely. On stable it just works as expected.

Here'

[2021-08-19 18:56] Jonathas-Conceicao commented on #38
From what I've tested, error started from nightly-2021-07-03 onward.

[2021-09-15 13:16] philippkeller commented on #38
@zhiburt thanks for stepping in and I have absolutely nothing against promoting your repo - as I currently have not time maintaining this

[2022-06-30 07:49] petreeftime opened #43 "Help with maintainance?"
@philippkeller It seems like this project is not being actively maintained anymore. Would you like help with maintenance or would you prefer that this was forked an maintained by someone else?

[2022-09-10 18:16] souze commented on #43
I'm interested in contributing to this tool as well. I'm fine with either way.
I think it would be fine to add me as a maintainer for this repo. I'm not sure how it usually works, but doesn't it make more sense when browsing Github that the "main" repository is the maintained one, rather than one of the forks?

[2022-09-11 08:58] matthiasbeyer commented on #43
Hi! I am member of the [rust cli-wg](https://github.com/rust-cli/) and am interested in helping with maintaining this crate (at least passively).

I would like to have the second option that @philippkeller mentioned. Everyone who wants to increase the bus-factor gets access to the repository and possibly rights to publish on crates.io.
Maybe it would be even an option to move the repository to the

[2022-09-11 09:42] petreeftime commented on #43
Sorry, got a little busy with some other things and this fell off my immediate to do list. I think keeping it here for the time being and getting permission to review/merge/push and manage the crate itself would be great. If we can find a more permanent home for it later on, then we can move it then.

[2022-09-11 10:55] philippkeller commented on #43
great, this got some momentum here! I added @petreeftime, @matthiasbeyer and @souze as contributors.
I also added you on crates.io - so you should be able to publish new versions (except @souze , for some reason `cargo owner --add souze` fails with `the remote server responded with an error: could not find user with login "souze"`

[2022-09-11 10:56] matthiasbeyer commented on #43
@philippkeller thanks for inviting me!

What am I allowed to do and what am I not allowed to do?
Esp. these points, which I would start to do right now:

- implement github-actions
- implement dependabot
- implement bors

[2022-09-11 10:59] philippkeller commented on #43
@matthiasbeyer I was never contributor to a open source github repo. What do you suggest? Are there good "settings" which guarantee a general stableness of a repo?

For me - as I'm out of rust since some times, I would trust you - so just go ahead with the 3 points you mentioned

[2022-09-11 11:04] matthiasbeyer commented on #43
So here is what I will do now:

- [ ] implement CI via github-actions
- [ ] implement some Linting via github-actions
  - [ ] commit linting (esp. `Signed-off-by` trailer for signing [DCO](https://developercertificate.org/))
  - [ ] cargo checks (deny, clippy, fmt,...)
- [ ] implement dependabot so we maintainers do not have to care about dependency updates
- [ ] bors as a merge-bot, which [helps

[2022-09-11 11:04] souze commented on #43
Try again, it should work now

[2022-09-11 11:05] philippkeller commented on #43
nice! I added @souze to crates.io rights, and also added bors as app here for rexpect on github

[2022-09-12 05:43] matthiasbeyer commented on #43
@philippkeller feel free to close this. I guess maintenance is cleared now? :smile:

[2022-09-12 06:08] matthiasbeyer opened #58 "Replace error-chain with thiserror"
I would like to replace the (seemingly abandoned) `error-chain` dependency with the maintained `thiserror`.

Does anyone object? @petreeftime?

rexpect has a lot of `unwrap()`/`expect()` calls in the codebase, which I would like to review after moving to `thiserror` (and hopefully fix, of course).

[2022-09-12 06:11] petreeftime commented on #58
Sounds good to me. error-chain seems deprecated.

[2022-09-12 06:58] #58 closed

[2022-09-12 07:45] souze opened #63 "Any kind of community communication?"
Should we add some sort of zulip/discord/slack for this package? Adding a channel in an existing forum would be the easiest, anything else feels a bit overkill I think.

[2022-09-12 07:49] matthiasbeyer commented on #63
I don't see any benefit, to be honest.
Especially because zulip, discord and slack are gated communities. I do not participate in any.

Why do you think are issues not sufficient?

[2022-09-12 08:11] souze commented on #63
I find it a bit easier to have a back-and-forth conversation about a topic, or just ask a fast/simple question in a more chat-like interface.
I see the point though that it's a bit overkill for this size package.

[2022-09-12 08:22] matthiasbeyer commented on #63
I think that keeping even simple questions in the issues is better because users that might come up with the same question can easily find them here.
If you think about more personal questions between us authors, feel free to shoot an email any time! :wink:

[2022-09-12 08:35] petreeftime commented on #63
I don't think this library is particularly heavy traffic to warrant a separate discussion platform and it makes finding information quite a bit more challenging. Keeping all discussions here is healthier IMO.

[2022-09-12 08:41] souze commented on #63
Sounds good then :)

[2022-09-12 11:09] matthiasbeyer commented on #36
Closed in #58

[2022-09-12 11:09] #36 closed

[2022-09-12 11:37] philippkeller commented on #43
Absolutely, thanks guys for reviving this 🎉

[2022-09-12 11:37] #43 closed

[2022-09-17 13:34] souze commented on #38
Closed with #40

[2022-09-17 13:34] #38 closed

[2022-09-25 02:32] jcaplan opened #68 "better support for embedded targets, ssh"
`spawn_bash` assumes you're spawning a new terminal on the same machine running rexpect. I use pexpect to write integration tests for embedded targets and `pxssh` is really useful. Having the fairly robust ssh login stuff for starters, but also not assuming the login shell is necessarily `bash` while still providing reliable synchronization and resetting the prompt (i.e. set PS1 but don't try to l

[2022-09-25 02:37] jcaplan opened #69 "replwrap style run function"
It would also be nice to borrow from `replwrap` and have a method to fold these three lines into one:
[code]
becomes something like
[code]

other things that would help missing from pexpect that I've had to add for run(): take multiple commands to pass a script that you read from the host filesystem either as a vec or by splitting on newlines, sanitizing carriage returns, stripping out colour

[2022-09-25 02:52] jcaplan commented on #69
another thing for a clean repl that's really helpful in driving embedded testing is nice color coded logging on the host. being able to assign each repl a name and getting something back like:
[code]
where `dut<` and `dut>` are coloured differently.
setup something like:
[code]

works great if you're doing tests with multiple targets and/or also running stuff in a terminal on the host machine.

[2022-09-25 02:57] jcaplan commented on #69
without colour/other control character stripping I get a test failure because my bash prompt pollutes the terminal. This is a problem people likely face with pexpect all the time (I know I have) and would be nice if there was a built-in way to deal with it.

[code]

[2022-09-25 07:04] petreeftime opened #70 "test_read_line fails randomly"
I was unable to reproduce the issue on my own. So far the only time it showed up is in https://github.com/philippkeller/rexpect/actions/runs/3060626462/jobs/4939368842, for PR https://github.com/philippkeller/rexpect/pull/47.

I've reviewed the code involved in this test, but there was nothing obvious that could lead to such an issue. What I expected was that there's some sort of race condition wh

[2022-09-25 07:39] matthiasbeyer commented on #68
Hi! Thanks for opening this issue.

Do you have a concrete request here? I am not sure I see one in your message :laughing:

[2022-09-25 14:12] jcaplan commented on #68
Yeah I think this and #69 are about providing a more "batteries includes" experience for using `rexpect` to drive integration testing. I split them in two because this one is more about how you connect/open a process, whereas #69 is about providing helpful functions once the process is already opened. so off the top of my head useful features I know I relied on heavily in pexpect that would be nic

[2022-09-25 14:53] souze commented on #70
Before I changed the test expect_any. That would intermittently fail, giving "HiHi" instead of "Hi\r\n". I was able to reproduce that one locally.
Could it be something with the echo setting of the process?

[2022-10-03 19:12] matthiasbeyer opened #71 "Moving repository to CLI-WG org?"
Hi!

In the last meetup of the CLI WG it came up that we want to make this crate to the CLI WG org.

The benefits that we would get from that would be the increased bus factor. I know we have three or four people that currently maintain this crate, and we wouldn't even increase that number any further when moving to the CLI WG org, but we would get the option of the WG having access to the reposit

[2022-10-03 19:32] souze commented on #71
Sounds good to me. But off course, up to @philippkeller :)

[2022-10-04 14:56] philippkeller commented on #71
Guys, I'm so happy that this little project of mine gets a proper home and lives its independent live in a proper "organization" - I'm all for moving! Maybe you could mention me somewhere as the starter of the project?

How would such a moving be accomplished? Would you fork the project and then we would reduce this repo to only the README page pointing to the new location?

[2022-10-04 15:45] matthiasbeyer commented on #71
Definitively!

No, there's a github functionality named "Transfer ownership" or something like that. That has the additional benefit that links to https://github.com/philippkeller/rexpect/ automatically get rerouted to that new location, which is _really_ neat!

What you would do is: Transfer ownership to https://github.com/rust-cli. @epage will then accept this and that's all that needs to be don

[2022-10-04 16:02] epage commented on #71
Under "Settings", scroll down to the bottom in the "Danger Zone" is a "Transfer" button.

[2022-10-04 16:18] petreeftime commented on #71
Sounds good to me!

[2022-10-04 17:05] matthiasbeyer commented on #71
Okay, so it seems that everyone is on board! I think you can go ahead, @philippkeller :tada:

[2022-10-05 14:40] philippkeller commented on #71
I tried to transfer the ownership to `https://github.com/rust-cli` but I get the error `Cannot find new owner 'https://github.com/rust-cli'` - anyone has any idea how to solve this?

[2022-10-05 15:14] epage commented on #71
Sent you an invite

[2022-10-05 16:32] philippkeller commented on #71
and done, I'm writing this comment now from https://github.com/rust-cli/rexpect/issues/71 🎉

[2022-10-05 16:46] matthiasbeyer commented on #71
:tada: awesome yall! I am taking the liberty of closing this issue then! :+1:

[2022-10-05 16:46] #71 closed

[2022-10-09 08:18] petreeftime commented on #70
This bug is super annoying. I don't know what to do to reproduce it. I tried to run it directly on my machine, inside an Ubuntu 20.04 VM, as well as trying to run it inside an Ubuntu 20.04 container, looping 1000x each, and it never reproduced for me. It must be something that's being caused by some configuration in the test env itself, possibly how it captures the output. I'll try to read into th

[2022-10-09 08:18] matthiasbeyer commented on #70
I will play around a bit in #75 ... lets see.

[2022-10-09 08:23] petreeftime commented on #70
Looking at https://github.com/rust-cli/rexpect/blob/master/src/process.rs#L117, I think it would be better expressed as
[code]

[2022-10-09 09:58] #70 closed

[2022-10-09 19:53] petreeftime opened #77 "Update on crates.io"
There were quite a few changes since version v0.4.0, it would be a good idea to push a new version out to crates.io.

Are there any guidelines for rust-cli organization on how it's best to do this, for example changelog format, steps, etc?

[2022-10-10 06:17] matthiasbeyer commented on #77
So the majority of the rust-cli people use `cargo-release`. It is not mandatory though. If you want, you can do something else.

Either way, it is strongly recommended that we _document_ how the release process looks like.

[2022-10-12 08:57] souze opened #79 "Testing rexpect app"
It would be nice if we could provide an easy way to test rexpect apps. Maybe something like this?

[code]

Or any suggestions for a better interface? I think option2 looks nicer in the test case, but I think option1 is overall better, since it doesn't require spinning up a new thread, and needing to sync between the two.
I'm not sure how we could get nice error messages with either approach, but I

[2022-10-19 13:06] tjyang opened #81 "bash_read.rs: use rexpect::error::Error; --> could not find `error` in `rexpect`"
I am learning rexpect via *.rs in examples dir.
- With following Cargo.toml and needed directory layout, I was able to run command like "cargo run --bin bash_read" to see if it works.

<details>

[me@ipa01 examples]$ cat Cargo.toml
[package]
name = "rexpect-examples"
version = "0.1.0"
authors = ["rexpect authors"]
description = "Cargo.toml to compile rexpect examples in batch"
license     = "MIT"

[2022-10-19 13:30] matthiasbeyer commented on #81
Yes, in `0.4.0` [that module is called `errors`](https://docs.rs/rexpect/latest/rexpect/errors/index.html)

[2022-10-19 13:37] tjyang commented on #81
Or  there should be  a examples/0.4.0/*.rs ?

[2022-10-19 13:38] matthiasbeyer commented on #81
I don't understand why you're thinking that the examples need fixing?

[2022-10-19 13:42] tjyang commented on #81
Because examples/*.rs using new rexpect::error name while 0.4.0 we can download from crates.io is using rexpect:errors.
more learning trouble for beginner like me.

[2022-10-19 13:44] matthiasbeyer commented on #81
There is no point in renaming the module on latest master. This would actually break our build! If you want to look at source to understand how a crate is working, you should look at the version you're using, in your case `0.4.0`, and not latest master!

[2022-10-19 13:47] tjyang commented on #81
Thanks for the reply.  Didn't know using old 0.4.0 naming will break the build. I am closing this issue.

[2022-10-19 13:47] #81 closed

[2022-10-19 14:11] tjyang opened #83 "RFC: Create another dir to host Cargo.toml file and directory layout to test/learn examples"
Hi @matthiasbeyer

As a rexpect beginner, I had to create my own  dir structure and file to really run/test/learn rexpect crate.

- Can this be part of rexpect src tree ?

[code]

[2022-10-19 15:27] petreeftime commented on #83
You don't need to do this, currently the repo does follow the standard cargo specification. You should be able to run the examples via `cargo run --example example_name`. For example `cargo run --example bash_read`.

[2022-10-19 15:29] petreeftime commented on #83
To be honest, the examples aren't super interactive, might be a good idea to add some println message to them to actually prove they're doing anything at all :)

[2022-10-19 15:39] tjyang commented on #83
Thanks for the "cargo run --example example_name", I didn't know there is a --example option.
more verbose message  will be a good homework  for beginner like me.

[2022-10-19 16:09] tjyang commented on #83
Another suggestion is that if "contrib" dir is not part of build process, can you  still add contrib sub-directory to host more advance examples that using ldap3,clap ... crates.
Just a suggestion, if this is not a good idea, please just close this issue.

[2022-10-19 16:17] petreeftime commented on #83
I think examples can use [`dev-dependencies`](https://doc.rust-lang.org/rust-by-example/testing/dev_dependencies.html), but cannot check right now. If that's the case, I think it would be fine to add more complex examples using some additional crates that only get compiled for development purposes (although if they're too complex they might not be a good example anymore).

[2022-10-19 16:31] tjyang commented on #83
[dev-dependencies](https://doc.rust-lang.org/rust-by-example/testing/dev_dependencies.html) is too deep for me ;)
- My suggestion is to add following dir layout, IF adding contrib directory will not impact the build process. The advance examples can be stored  under contrib/adnvace_examples/src/bin .

[code]

[2022-10-19 17:18] tjyang commented on #83
Withdraw the suggestion, I created https://github.com/learnrust/rexpect-examples for me to play with.

[2022-10-19 17:18] #83 closed

[2022-10-19 17:18] matthiasbeyer commented on #83
You are always welcome to open up a PR, but honestly I don't see how such a thing would yield any benefit over the existing examples. I don't yet see a proposal for any example code, all I see is that you propose to add more directories... But not how that would enhance the example situation?

[2022-10-19 17:57] tjyang commented on #83
Your comment accepted. let me work on a few examples that I think is useful, IMHO.

[2022-10-19 18:44] tjyang commented on #83
@matthiasbeyer , [this is the example](https://github.com/learnrust/rexpect-examples/blob/main/src/bin/forumsys_ldap_check.rs) I think is helpful.

[2022-10-19 19:43] souze commented on #28
I think this is very important for this crate to be useful. I'll start looking at it.

I'm looking at pulling in termcolor crate, to output e.g. black output for stdout, green for stdin, and yellow for control-characters, or something like that.

I think it is very useful in pexpect for debugging and while developing scripts.

[2022-10-20 05:38] petreeftime commented on #77
@matthiasbeyer I don't seem to have ownership on crates.io, so I can't publish. When you have time, go ahead.

[2022-10-20 05:55] petreeftime commented on #77
Release is here: https://github.com/rust-cli/rexpect/releases/tag/v0.5.0

[2022-10-20 06:45] matthiasbeyer commented on #77
Release published.

You don't have access because rust-bus was added to the owners, but not rust-cli, I guess.

Either way, you just got an invite.

[2022-10-20 06:47] #77 closed

[2022-10-20 09:36] tjyang opened #85 "RFC on README.md change"
Please comment before I submit a PR request.

https://github.com/rust-cli/rexpect/compare/master...learnrust:rexpect:master

Thanks.

[2022-10-20 09:42] matthiasbeyer commented on #85
The diff you're showing does not provide anything that a normal rust dev wouldn't know.

So: No, sorry! And please stop spamming.

[2022-10-20 09:42] #85 closed

[2022-11-21 11:45] BarretRen commented on #30
@chama-chomo, your workaround looks good, but it's still not perfect.
For example, if I start gdb task with rexpect, i want a real gdb tty after calling interact. But in this way, it can't offer me that.
This issue is opened two years before, but no updates for it. I will use pexpect for my tools.
Life is short, I use python.^v^